.voltageMapContainer {
    width: 95vw;
    /* background-color: var(--white); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    /* box-shadow: #0000002a 0 0 8px; */
    max-width: 1020px;
    margin-top: 75px;
    margin: auto;
    padding: 16px 0;
  }
  
  .legendContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .legendColor {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  
  .lowVoltage {
    background-color: #7B3294;
  }
  
  .nominalVoltage {
    background-color: #2B83BA;
  }
  
  .highVoltage {
    background-color: #F46D43;
  }