.card{
    /* width: 80vw; */
    background-color: white;
    border-radius: 16px;
    /* border: 1px solid green; */
    margin: 10px;
    box-shadow: #0000002a 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0.5rem;
    height: 285px;
    width: 564px;
}

.container{
    width: 80vw;
    /* border: 1px solid red; */
    overflow: auto;
}

.card img{
    height: 150px;
    /* border: 1px solid blue; */
}

.card input{
    background-color: var(--light-white);
    border-radius: 2px;
    color: var(--black);
    font-size: 0.8rem;
    height: 1.5rem;
    margin: 0;  
    width: 100px;
}

.E, .V, .Pmec, .Xt, .X1, .X2, .H, .f, .tStep, .faultTime, .clearTime {
    position: absolute;
}

.E {
    left: 3%;
    top: 66%;
}

.V {
    right: 4%;
    top: 55%;
}

.Xt {
    top: 62%;
    left: 25%;
}

.X1 {
    top: 42%;
    right: 20%;
}

.X2 {
    top: 75%;
    right: 20%;
}

.Pmec {
    top: 5%;
    right: 5%;
}

.H {
    top: 5%;
    left: 5%;
}

.f {
    top: 15%;
    left: 6.2%;
}