.container{
    width: 80vw;
    background-color: white;
    border-radius: 16px;
    /* border: 1px solid red; */
    margin:25px auto;
    padding: 5px 10px;
    box-shadow: #0000002a 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 130px;
}

.headerr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid; */
    border-bottom: 1.5px solid var(--light-white);
    padding: 2.5px;
    /* border: 1px solid red; */
    height: 70px;
    align-items: center;
}   

.title{
    font-weight: bold;
    font-size: var(--font-subheading);
}

.blu:hover{
    background-color: var(--dark-blue);
}   

.grn{
    background-color: #009900;
}

.grn:hover{
    background-color:  #008000;
}

.rd{
    background-color: var(--red);
}

.rd:hover{
    background-color: var(--dark-red);
}

.overlay {
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    position: absolute;
    right: 1.5%;
    top: 40px;
    padding: 1.1rem;
    animation: modalShake 0.6s ease-in-out;
    transform-origin: 60% 0%;
    z-index: 2;
}

.busno{
    width: 100%;
    padding: 5px;
    min-width: 170px;
}

.sub{
    width: 100%;
}   
  
.cover{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000cc;
  z-index: 1;
}

@media (max-width: 1020px){
  .container{
      width: 95vw;
  }   
}

@keyframes modalShake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(-1deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-0.5deg); }
  60% { transform: rotate(0.5deg); }
  70% { transform: rotate(-0.5deg); }
  80% { transform: rotate(0.5deg); }
  90% { transform: rotate(-0.25deg); }
  100% { transform: rotate(0deg); }
}

.tableContainer input{
  width: 100%;
}