.container{
    width: 80vw;
    background-color: white;
    border-radius: 16px;
    /* border: 1px solid red; */
    margin:25px auto;
    padding: 5px 10px;
    box-shadow: #0000002a 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid; */
    border-bottom: 1.5px solid var(--light-white);
    padding: 2.5px;
}   

.title{
    font-weight: bold;
    font-size: var(--font-subheading);
}

.charts{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin-bottom: 1rem;
}

.eff {
  margin: auto;
  width: 80vw;
  background-color: var(--white);
  flex-direction: column;
  border-radius: 16px;
  box-shadow: #0000002a 0 0 8px;
  padding: 5px 10px;
}

.eff p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.block{
    text-align: center;
    margin-top: 75px;
}

@media (max-width: 1020px){
    .container, .eff{
        width: 95vw;
    }   

}