.superContainer{
    height: 120px;
    width: 100vw;
    /* border: 2px solid red; */
    position: fixed;
    top:0;
    z-index: 2;
}

.container{
    width: 100vw;
    background-color: var(--black);
    color: var(--light-white);
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid red; */
    min-height: 60px;;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all ease-in-out 0s;
}

.iitrLogo{
    height: 100%;
    padding: 5px;
    /* border: 2px solid green; */
}

.title{
    font-weight: bold;
    font-size: var(--font-heading);
    line-height: var(--line-height-heading);
    /* border: 5px solid red; */
}

.hamburger{
    margin: 0px 10px;
    cursor: pointer;
}

.hamburger:active{
    transform: scale(0.9);
}   