@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body{
  margin:0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  user-select: none;
  -webkit-user-select: none;
  color: var(--black);
  padding-bottom: 500px;
}

*{
  box-sizing: border-box;
  transition: all ease-in-out 0.1s;
}

.centralizeContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --font-heading: 2rem;
  --font-subheading: 1.8rem;
  --font-paragraph: 1.125rem;
  --font-small: 1rem;
  --line-height-heading: 1.3rem;
  --line-height-paragraph: 1.6rem;

  --black: #181D2A;
  --light-white: #E8EBED;
  --blue: #748EFE;
  --dark-blue: #5473f9;
  --red: #FF5300;
  --dark-red: #fb2100;
  --white: #FFFFFF;
  --radius:0.625rem;
  --background:oklch(1 0 0);
  --foreground:oklch(0.145 0 0);
  --card:oklch(1 0 0);
  --card-foreground:oklch(0.145 0 0);
  --popover:oklch(1 0 0);
  --popover-foreground:oklch(0.145 0 0);
  --primary:oklch(0.205 0 0);
  --primary-foreground:oklch(0.985 0 0);
  --secondary:oklch(0.97 0 0);
  --secondary-foreground:oklch(0.205 0 0);
  --muted:oklch(0.97 0 0);
  --muted-foreground:oklch(0.556 0 0);
  --accent:oklch(0.97 0 0);
  --accent-foreground:oklch(0.205 0 0);
  --destructive:oklch(0.577 0.245 27.325);
  --border:oklch(0.922 0 0);
  --input:oklch(0.922 0 0);
  --ring:oklch(0.708 0 0);
  --chart-1:oklch(0.646 0.222 41.116);
  --chart-2:oklch(0.6 0.118 184.704);
  --chart-3:oklch(0.398 0.07 227.392);
  --chart-4:oklch(0.828 0.189 84.429);
  --chart-5:oklch(0.769 0.188 70.08);
  --sidebar:oklch(0.985 0 0);
  --sidebar-foreground:oklch(0.145 0 0);
  --sidebar-primary:oklch(0.205 0 0);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.97 0 0);
  --sidebar-accent-foreground:oklch(0.205 0 0);
  --sidebar-border:oklch(0.922 0 0);
  --sidebar-ring:oklch(0.708 0 0);
}

@media (max-width: 1024px) {
  :root {
    --font-heading: 1.8rem;
    --font-subheading: 1.75rem;
    --font-paragraph: 1.0625rem;
    --font-small: 0.9375rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-heading: 1.5rem;
    --font-subheading: 1.5rem;
    --font-paragraph: 1rem;
    --font-small: 0.875rem;
  }

  .tableContainer{
      overflow-x: auto;
      /* white-space: nowrap; */
  }
}

.btn{
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--blue);
  border-radius: 8px;
  border: none;
  padding: 9px 18px;
  color: var(--light-white);
  margin: 2px;
  box-shadow: #00000071 0 0 4px;
  cursor: pointer;
}

.btn:active{
  transform: scale(0.95);
}

.tableContainer {
  width: 100%;
  margin: 20px 0;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

.tableContainer tr {
  display: flex;
  width: 100%;
}

.tableContainer th,
.tableContainer td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  flex: 1;
  overflow: auto;
}

.tableContainer th:first-child,
.tableContainer td:first-child {
  flex: 0 0 50px;
  /* background-color: var(--black);
  color: var(--light-white);
  border: none; */
}

.tableContainer thead{
  background-color: var(--black);
  color: var(--light-white);
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.tableContainer input{
  width: 100%;
  background-color: var(--light-white);
  border-radius: 2px;
  color: var(--black);
  font-size: 0.8rem;
  height: 1.5rem;
  margin: 0;  
}

input{
  border: none;
}

@theme inline {
  --radius-sm:calc(var(--radius) - 4px);
  --radius-md:calc(var(--radius) - 2px);
  --radius-lg:var(--radius);
  --radius-xl:calc(var(--radius) + 4px);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-card-foreground:var(--card-foreground);
  --color-popover:var(--popover);
  --color-popover-foreground:var(--popover-foreground);
  --color-primary:var(--primary);
  --color-primary-foreground:var(--primary-foreground);
  --color-secondary:var(--secondary);
  --color-secondary-foreground:var(--secondary-foreground);
  --color-muted:var(--muted);
  --color-muted-foreground:var(--muted-foreground);
  --color-accent:var(--accent);
  --color-accent-foreground:var(--accent-foreground);
  --color-destructive:var(--destructive);
  --color-border:var(--border);
  --color-input:var(--input);
  --color-ring:var(--ring);
  --color-chart-1:var(--chart-1);
  --color-chart-2:var(--chart-2);
  --color-chart-3:var(--chart-3);
  --color-chart-4:var(--chart-4);
  --color-chart-5:var(--chart-5);
  --color-sidebar:var(--sidebar);
  --color-sidebar-foreground:var(--sidebar-foreground);
  --color-sidebar-primary:var(--sidebar-primary);
  --color-sidebar-primary-foreground:var(--sidebar-primary-foreground);
  --color-sidebar-accent:var(--sidebar-accent);
  --color-sidebar-accent-foreground:var(--sidebar-accent-foreground);
  --color-sidebar-border:var(--sidebar-border);
  --color-sidebar-ring:var(--sidebar-ring);
}

.dark {
  --background:oklch(0.145 0 0);
  --foreground:oklch(0.985 0 0);
  --card:oklch(0.205 0 0);
  --card-foreground:oklch(0.985 0 0);
  --popover:oklch(0.205 0 0);
  --popover-foreground:oklch(0.985 0 0);
  --primary:oklch(0.922 0 0);
  --primary-foreground:oklch(0.205 0 0);
  --secondary:oklch(0.269 0 0);
  --secondary-foreground:oklch(0.985 0 0);
  --muted:oklch(0.269 0 0);
  --muted-foreground:oklch(0.708 0 0);
  --accent:oklch(0.269 0 0);
  --accent-foreground:oklch(0.985 0 0);
  --destructive:oklch(0.704 0.191 22.216);
  --border:oklch(1 0 0 / 10%);
  --input:oklch(1 0 0 / 15%);
  --ring:oklch(0.556 0 0);
  --chart-1:oklch(0.488 0.243 264.376);
  --chart-2:oklch(0.696 0.17 162.48);
  --chart-3:oklch(0.769 0.188 70.08);
  --chart-4:oklch(0.627 0.265 303.9);
  --chart-5:oklch(0.645 0.246 16.439);
  --sidebar:oklch(0.205 0 0);
  --sidebar-foreground:oklch(0.985 0 0);
  --sidebar-primary:oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground:oklch(0.985 0 0);
  --sidebar-accent:oklch(0.269 0 0);
  --sidebar-accent-foreground:oklch(0.985 0 0);
  --sidebar-border:oklch(1 0 0 / 10%);
  --sidebar-ring:oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}