body{
  margin:0;
  padding: 0;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  user-select: none;
  -webkit-user-select: none;
  color: var(--black);
}

*{
  box-sizing: border-box;
  transition: all ease-in-out 0.1s;
}

.centralizeContent{
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --font-heading: 2rem;
  --font-subheading: 1.8rem;
  --font-paragraph: 1.125rem;
  --font-small: 1rem;
  --line-height-heading: 1.3rem;
  --line-height-paragraph: 1.6rem;

  --black: #181D2A;
  --light-white: #E8EBED;
  --blue: #748EFE;
  --dark-blue: #5473f9;
  --red: #FF5300;
  --dark-red: #fb2100;
  --white: #FFFFFF;
}

@media (max-width: 1024px) {
  :root {
    --font-heading: 1.8rem;
    --font-subheading: 1.75rem;
    --font-paragraph: 1.0625rem;
    --font-small: 0.9375rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-heading: 1.5rem;
    --font-subheading: 1.5rem;
    --font-paragraph: 1rem;
    --font-small: 0.875rem;
  }
}

.btn{
  font-size: 0.85rem;
  background-color: var(--blue);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: var(--light-white);
  margin: 2px;
  box-shadow: #0000002a 0 0 4px;
  cursor: pointer;
}

.btn:active{
  transform: scale(0.95);
}

.tableContainer {
  width: 100%;
  margin: 20px 0;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

.tableContainer tr {
  display: flex;
  width: 100%;
}

.tableContainer th,
.tableContainer td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  flex: 1;
}

.tableContainer th:first-child,
.tableContainer td:first-child {
  flex: 0 0 50px;
  /* background-color: var(--black);
  color: var(--light-white);
  border: none; */
}

.tableContainer thead{
  background-color: var(--black);
  color: var(--light-white);
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableContainer input{
  width: 100%;
}